.lot {
  grid-column: center-start / center-end;

  column-gap: 2rem;

  .slider {
    grid-column: center-start / col-end 8;

    width: auto;
    position: relative;
    height: 45.5rem;
    margin-top: 0;

    &__slide {
      height: 100% !important;
    }

    &__arrows {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 100%;
      height: 100%;
      position: absolute;
      padding: 0 2rem;
    }

    &__arrow {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 4.5rem;
      height: 4.5rem;
      background-color: #95A5A6;
      color: #fff;
      font-size: 2rem;
      border-radius: 50%;
      line-height: 1;
      cursor: pointer;
    }
  }
}